*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

/*START - HEADER*/
.headerStyle {
    font-weight: 700;
    background-color: rgb(245, 157, 35);
    height: 100px;
}

header a{color: black;}
header a:visited {color: black;}
header a:hover {color: white} 
  
#logo{height: 140px;width: 100px;margin-top: 5px;}
  
.navElem{
    margin-left: 1.5vw;
    font-size: 23px;
}
  
.navList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;
}
  
.mt{
    margin-top: 40px;
}
  
/*END - HEADER*/
/*START - FOOTER*/
.footerStyle {
    text-align: center;
    background-color: black;
    color: white;
}

footer a{color: white;}
footer a:visited {color: white}
footer a:hover {color: rgb(245, 157, 35); } 

#logoFooterSection img{
    width: 120px;
    margin-top: 20px;
}

#navFootersection{
    line-height: 30px;
}

#acceptPolicy{
    display: flex; 
    justify-content: center; 
    font-size: small;  
}

footer>section{
    margin-bottom: 30px;
}

#autoria{
    font-size: small;
    line-height: 25px;
}

.inputEmailStyle{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    text-align: center;
    color: white;
}

.submitButtonStyle{
    background-color: rgb(240, 93, 80);
    color: white;
    height: 30px;
    width: 110px;
    margin-top: 10px;
}

.navFooterElem{
    display: inline-block;
    margin-left: 30px;
}
/*END - FOOTER*/

/*-----------------------------------------BASE (MOBILE, TABLET)------------------------------------------------------------------*/

@media only screen and (max-width: 850px){
    /*START - MAIN*/
    .headerStyle {
        font-weight: 700;
        background-color: rgb(245, 157, 35);
        /* height: 11.5vw; */
    }

    .navElem{
        margin-left: 1.5vw;
        font-size: 2.8vw;
    }

    #logo{height: 16vw;width: 11vw;margin-top: 5px;}
}

@media only screen and (max-width: 600px){
    /*START - MAIN*/
    .headerStyle {
        font-weight: 700;
        background-color: rgb(245, 157, 35);
        height: 100px;
    }

    .navElem{
        margin-left: 1.5vw;
        font-size: 15px;
    }

    #logo{height: 90px;width: 65px;margin-top: 5px;}
}

@media only screen and (max-width: 400px){
    .headerStyle {
        height: 80px;
    }
    .navElem{
        margin-left: 1.5vw;
        font-size: 13px;
    }
    #logo{height: 70px;width: 50px;margin-top: 5px;}
}


/*HEADER MENU*/
.containerMenu{
    width: 100%;  
    margin: 0 auto; 
    position: absolute;
    margin-top: 103px;
}

.menu{ 
    position: fixed;
    left: -100%;
    height: 28vh;
    line-height: 5vh;
    width: 12rem;
    background-color: rgb(245, 157, 35); 
    padding-top: 3vh;
    padding-left: 5vh;
    animation: showMenu 400ms ease forwards;
}

@keyframes showMenu {
    to{
        left: 0;
    }
}

@media only screen and (max-width: 400px){
    .containerMenu{
        margin-top: 83px;
    }
}

/*MENU ICON*/
.material-symbols-outlined {
    font-weight: bold!important;
    font-size: 28px !important;
    background-color: rgb(245, 157, 35);
}

#menuBtn{
    background-color: rgb(245, 157, 35);
    cursor: pointer;
}

#closeBtn > span{
    cursor: pointer;
}