*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

/*START - HEADER*/
.headerStyle {
    font-weight: 700;
    background-color: rgb(245, 157, 35);
    height: 100px;
}

header a{color: black;}
header a:visited {color: black;}
header a:hover {color: white} 
  
#logo{height: 140px;width: 100px;margin-top: 5px;}
.desktopLogo{
    margin-top: 5px;
}

.mobileLogo{
    display: none;
}
  
.navElem{
    margin-left: 1.5vw;
    font-size: 23px;
}
  
.navList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;
}
  
.mt{
    margin-top: 40px;
}
  
/*END - HEADER*/
/*START - FOOTER*/
.footerStyle {
    text-align: center;
    background-color: black;
    color: white;
}

footer a{color: white;}
footer a:visited {color: white}
footer a:hover {color: rgb(245, 157, 35); } 

#logoFooterSection img{
    width: 150px;
    margin-top: 20px;
}

#navFootersection{
    line-height: 30px;
}

#acceptPolicy{
    display: flex; 
    justify-content: center; 
    font-size: small;  
}

footer>section{
    margin-bottom: 30px;
}

#autoria{
    font-size: small;
    line-height: 25px;
}

.inputEmailStyle{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    text-align: center;
    color: white;
}

.submitButtonStyle{
    background-color: rgb(240, 93, 80);
    color: white;
    height: 30px;
    width: 110px;
    margin-top: 10px;
}

.navFooterElem{
    display: inline-block;
    margin-left: 30px;
}

.clip-circle{
    clip-path: circle(60px at center);
}
/*END - FOOTER*/

/*-----------------------------------------BASE (MOBILE, TABLET)------------------------------------------------------------------*/

@media only screen and (max-width: 850px){
    /*START - MAIN*/
    .headerStyle {
        font-weight: 700;
        background-color: rgb(245, 157, 35);
        /* height: 11.5vw; */
    }

    .navElem{
        margin-left: 1.5vw;
        font-size: 2.8vw;
    }

    #logo{height: 16vw;width: 11vw;margin-top: 5px;}
}

@media only screen and (max-width: 600px){
    /*START - MAIN*/
    .headerStyle {
        font-weight: 700;
        background-color: rgb(245, 157, 35);
        height: 100px;
    }

    .navElem{
        margin-left: 1.5vw;
        font-size: 15px;
    }

    #logo{height: 90px;width: 65px;margin-top: 5px;}
    .desktopLogo{
        display: none;
    }

    .mobileLogo{
        display: block;
    }
}

@media only screen and (max-width: 400px){
    .headerStyle {
        height: 80px;
    }
    .navElem{
        margin-left: 1.5vw;
        font-size: 13px;
    }
    #logo{height: 70px;width: 50px;margin-top: 5px;}
}


/*HEADER MENU*/
.menu{ 
    margin-top: 102px;
    width: fit-content;
    z-index: 3;
    background-color: #f59d23;
    border-radius: 8px;
    padding: 3vh;
    line-height: 5vh;
    animation: .4s forwards showMenu;
    position: fixed;
    left: -100%;
    border-radius: 8px;
}

.hamburger{
    margin-top: calc(-2.5vw + 5px);
}
  
svg.hamburgerMenu {
    width: calc(4vw + 15px);
    height: calc(4vw + 15px);

    cursor: pointer;
   
     rect {
      transition: all .3s ease-in-out;
    }
}
    
.middle {
    x: 0;
    opacity: 0;
}
.top {
    transform: rotate(45deg);
    transform-origin: center top;
    x: 50px;
    y: 35px;
}
.bottom {
    transform: rotate(-45deg);
    transform-origin: center top;
    x: -20px;
    y: 25px;
}

@keyframes showMenu {
    to{
        left: 0;
    }
}

@media only screen and (max-width: 400px){
    .menu{
        margin-top: 83px;
    }
}