/*START - CSS GRID*/
.wrapperCategoria{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    gap: 60px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*END - CSS GRID*/

/*START - CSS SUBGRID*/
@media only screen and (min-width: 850px){
    .subgridCategoria{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "titulo titulo"
            "aside lista";
        row-gap: 20px;
        column-gap: 0px;
    }
}

#titleSection{
    grid-area: titulo;
}

aside{
    grid-area: aside;
}

#listSection{
    grid-area: lista;
}

/*END - CSS SUBGRID*/

/*START - MAIN*/
.container{
    width: 95%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

main a{color: rgb(245, 157, 35);}
main a:visited {color: rgb(245, 157, 35); }
main a:hover {color: rgb(93, 95, 121); } 

.navAsideElem{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

#titleSection{
    margin-left: 40px;
    font-size: 30px;
    text-align: center;
}

#listSection{
    margin-top: 0px;
    color:rgb(93, 95, 121);
}

.card{
    display: grid;
    gap: 2%;
    grid-template-columns: 25% 25% 45%;
    margin-bottom: 40px;
    align-items: center;
}

.cardTitle{
    font-weight: bold;
    font-size: 20px;
}

.cardDescription{
    line-height: 25px;
    margin-top: 30px;
    text-align: justify;
}

img{
    max-width: 100%;
}

.ml{
    margin-left: 5%;
}

/*END - MAIN*/

/*-----------------------------------------CATEGORÍA (MOBILE, TABLET)------------------------------------------------------------------*/

@media only screen and (max-width: 850px){
    
    .wrapperCategoria{ 
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        gap: 60px;
    }

    /*START - MAIN*/
    
    section#listaReferentes{
        color:rgb(93, 95, 121);
    }
    
    aside{
        grid-area: aside;
        margin-top: 30px; 
        padding-left: 0;
        font-size: 14px;
        text-align: center;
    }
    
    .navAsideElem{
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    a.after:after{
        content: ' •'; /*Dudas para eliminar el símbolo en el último enlace*/
        color: rgb(245, 157, 35);
    }
    
    #titleSection{
        text-align: center;
        margin-left: 0px;
        font-size: 30px;
    }
    
    .card{
        display: grid;
        gap: 2%;
        grid-template-columns: 15% 25% 55%;
        margin-bottom: 40px;
        align-items: center;
        margin-right: 0;
    }
    
    .cardTitle{
        line-height: 25px;
        font-weight: bold;
        font-size: 2.5vw;
    }
    
    .cardDescription{
        line-height: 25px;
        margin-top: 0px;
        font-size: 2vw;
    }

    .ml{
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px){

    .wrapperCategoria{ /*Dudas para colocar aside debajo del título*/
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        gap: 30px;
    }
    
    /*MAIN - START*/
    aside{
        grid-area: aside;
        margin-top: 30px; 
        padding-left: 0;
        font-size: 14px;
        text-align: center;
    }
    
    .navAsideElem{
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    a.after:after{
        content: ' •'; /*Dudas para eliminar el símbolo en el último enlace*/
    }
    
    #titleSection{
        margin-left: 0px;
        font-size: 30px;
        text-align: center;
    }

    #listSection{
        margin-top: 20px;
    }
    
    .card{
        display: grid;
        gap: 2%;
        grid-template-columns: 1fr;
        margin-bottom: 60px;
        align-items: center;
        margin-right: 0;
    }
    
    .cardTitle{
        line-height: 25px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .cardDescription{
        line-height: 25px;
        margin-top: 10px;
        font-size: 16px;
    }
}