/*START - CSS GRID*/
.wrapperDetalle{
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 100%;
    gap: 60px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*END - CSS GRID*/

/*START - MAIN*/
.containerDetalle{
    width: 60%; 
    max-width: 1140px; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}

main a{color: rgb(245, 157, 35);}
main a:visited {color: rgb(245, 157, 35); }
main a:hover {color: rgb(93, 95, 121); } 

.title{
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.subtitle{
    margin: 20px 0;
    text-align: center;
}

#articleContent p{
    margin-bottom: 20px;
    color:rgb(93, 95, 121);
    text-align: justify;
}

#articleContent p:first-of-type::first-letter {
    font-size: 40px;
    color:rgb(93, 95, 121);
    text-align: justify;
    font-weight: bold;
}

lite-youtube{
    margin: 0 auto;
}

figure{
    color: rgb(93, 95, 121);
}

iframe{
    max-width: 100%;
}

figcaption{
    font-size: small;
    color: rgb(93, 95, 121);
}

.firstImage {
	float: left;
	max-width: 60%;
	shape-outside: polygon(0px 368px, 0.16% -0.16%, 81.30% 0.06%, 96.34% 37.72%, 96.79% 100.35%);
	clip-path: polygon(-1px 368px, .16% -.16%, 83.65% .06%, 96.34% 37.72%, 96.78% 100.06%);
	shape-margin: 1.5%;
}

.mainImage{
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 5px;
}

/*END - MAIN*/

@media only screen and (max-width: 600px){
    /*START - MAIN*/
    .wrapperDetalle{
        gap: 30px;
    }

    .containerDetalle{
        width: 90%; 
    }
}

/*GALERÍA*/
#galeria{
    display: flex;
}

.lugar{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(245, 157, 35), 0 6px 2px 0 black;
}

.lugar img{
    width: 100%;
    height: auto;
}

.lugar:hover{
    border: 1px solid lightcoral;
}

.lugar figcaption{
    padding: 10px;
    font-size: 15px;
}

