*{
  margin: 0;
  padding: 0;
}

/*START - CSS GRID*/
.wrapper{
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*END - CSS GRID*/
/*START - BODY*/

body{
  font-family: 'Work Sans', sans-serif;
  background-image: url(/src/img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  isolation: isolate;
}

body::before{
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background: white;
  opacity: .3;
}

/*END - BODY*/
/*START - LINK*/
a{
  text-decoration: none;
}

section#referentes a{color: black;}
section#referentes a:visited{color:black;}
section#referentes a:hover{color:  rgb(245, 157, 35);}


a.link-menuNavegacion-header{color: black;}
.menuNavegacion-header a:visited {color: black;}
.menuNavegacion-header a:hover {color: rgb(245, 157, 35)} 

main a{color: black;}
main a:visited {color: black; }
main a:hover {color: rgb(245, 157, 35); } 

footer a{color: white;}
footer a:visited {color: white}
footer a:hover {color: rgb(245, 157, 35); } 

.logo a{color: black;}
.logo a:visited{color: black;}

/*END - LINK*/
/*START- LIST*/

li{
  list-style: none;
  text-decoration: none;
}
/*END - LIST*/
/*START - HEADER*/
.headerStyle {
  font-weight: 700;
  background-color: white;
  height: 60px;
}

/**/#imagenLogo{height: 90px;width: 70px;margin-top: 5px;}

li.elemento-lista-menuNavegacion-header{
  margin-left: 1.5vw;
  font-size: 18px;
}

ul.lista-menuNavegacion-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-start;
}

/*END - HEADER*/

/* PEC2 */

*{
  margin: 0px;
  padding: 0px;
}

html{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a:link {color: white; } /*Da color al link*/
a:visited {color: white; } /*Da color al link visitado. En este caso no se quiere cambiar de color*/
a:hover {color: rgb(222, 12, 23); } /*Cuando se pasa por encima del link, cambia de color*/

.listaNavegacion{
  list-style: none;
  text-decoration: none;
}

.linkNavegacion, .linkNavegacionActual{
  display: inline;
  text-decoration: none;
}

header{
  width: 100%;
  top:0;
}

main > img, main > div{
  margin-left: 20%;
}

footer{
  width: 100%;
}

footer > nav, footer > div{
  margin-left: 20%;
  line-height: 30px;
}

footer > nav{
  margin-bottom: 2%;
}

/** DISEÑO INDEX **/

#headerIndex > nav{
  margin-left: 20%;
  margin-top: 2%;
}

.logoIndex{
  display:inline;
}

div.logoIndex{
  font-size:600%;
  font-weight: 700;
  margin:0;
}

#mainIndex{
  margin-top: 8%;
}

#footerIndex{
  position: fixed; /*En este caso el contenido no supera la pantalla inferior, por tanto se realiza para que el footer permanezca en la zona inferior*/
  bottom: 0;
  background-color: black;
}

@media only screen and (max-width: 500px) { /*Esto ajusta el contenido de las distintas páginas web a los distintos tipos de pantalla*/
  header > nav{
      margin-left: 5%!important;
  }

  div.logoIndex{
      font-size: 400%;
  }

  img.logoIndex{
      width: 15%!important;
  }

  img.logoNoIndex{
      min-width: 20px!important;
  }

  main > img, main > div{
      margin-left: 5%;
  }

  footer > nav, footer > div{
      margin-left: 5%;
      line-height: 30px;
  }

  form > div > p{
      margin-left: 3%;
      line-height: 25px!important;
  }
}

/** DISEÑO RESTO DE PÁGINAS **/

#headerNoIndex{
  background-color: black;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

#headerNoIndex > a, #headerNoIndex > nav{
  margin-left: 13%;
}

.logoNoIndex{
  display:inline;
}

div.logoNoIndex{
  font-size:250%;
  font-weight: 700;
}

img.logoNoIndex{
  width: 30px;
}

.linkNavegacionActual > a{
  font-weight: bolder;
}

#mainNoIndex{
  width: 75%; 
  max-width: 1140px; 
  margin-left: auto; 
  margin-right: auto;
}

#footerNoIndex > nav, #footerNoIndex > div{
  margin-left: 12%;
  line-height: 30px;
}

#footerNoIndex > nav{
  margin-bottom: 2%;
}
